/* styles.css */


/* General styles */

* {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px
}

h4, h2, .ingredients li {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
    margin: 5px;
    margin-left: 0px;
    font-weight: normal;
}

h2,
h3 {
    text-transform: uppercase;
}

h2, h3, p, .ingredients {
    font-size: 20px;
}

h3 {
    margin-bottom: 0px;
}

.ingredients li {
    margin-top: 20px;
}

/* h2 {
    letter-spacing: 1px;
} */

li {
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

h4 {
    font-weight: 600;
    margin-top: 0px;

}


/* Recipe page styles */

.description {
    font-style: italic;
    margin-top: 10px;
}

.recipe-column {
    vertical-align: baseline;
}

.ingredients {
    list-style-type: square;
}

.recipe {
    width: 40%;
}

.steps ol {
    padding-left: 20px;

}

.steps ol li {
    margin-bottom: 40px;
}

/* Homepage styles */

.title-card {
    width: 600px;
    margin: 100px auto;
    /* border: 1px solid black */
    /*background-color: azure;*/
}

.right,
.left {
    width: 300px;
    height: 50px;
}

.right {
    margin-left: auto;
    margin-right: 0;
}

.left {
    margin-left: 0;
    margin-right: auto;

}

a {
    color: rgb(192, 0, 0);
    text-decoration: none;
    font-weight: 300;
}

a:visited {
    color: rgb(192, 0, 0);
}

a:hover {
    color: rgb(192, 0, 0);
    text-decoration: underline;
}
